body {
	margin: 0;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
}
td {
	width: 70%;
	border-bottom: 10px solid white;
}
td+td {
	width: auto;
	vertical-align: top;
	text-align: right;
}
tr {
	min-height: 20px;
}
h1 {
	color: #4cbb85;
	text-align: center;
}

@media only screen and (max-width: 840px){
	.desktop-only {
		display: none;
	}
}